.coral-Table-row .expirystatus p {
    padding: 0 0.5rem 0 0.5rem;
    color: #323232;
    background-color: #fa786e;
    border: .0625rem solid rgba(120,10,10,0.6);
    float: left;
}

/** Styles for icon in encoding status in list view*/
.encodingstatus coral-icon {
    margin-right: 3px;
}

.encodingstatus .encoding coral-icon {
    color: #3070C9;
}

.encodingstatus .encoding span {
    margin-right: 5px;
}

.encodingstatus .error  coral-icon {
    color: #F97D75;
}

.encodingstatus .warning  coral-icon {
    color: #FAD782;
}

.encodingstatus .success coral-icon {
    color: #A6D271;
}

.encodingstatus .new coral-icon {
    color: blue;
}

/** Styles for progress bar in encoding status in list view*/
.encodingstatus .encodingprogress {
    vertical-align: middle;
    margin-top: 5px;
    margin-left: 0px;
    float:right;
}

/** hide progress bar label */
.encodingstatus .encodingprogress coral-progress-label {
    width: 0px;
    padding: 0px;
    margin: 0px;
    display: none;
}

/** Show progressing bar when encoding */
.encodingstatus .encoding .encodingprogress {
    display: inline-block;
}

/** Hide progressing bar when encoding has failed */
.encodingstatus .error .encodingprogress {
    display: none;
}

/** Hide progressing bar when encoding has failed */
.encodingstatus .warning .encodingprogress {
    display: none;
}

/** Hide progressing bar when encoding has succeeded */
.encodingstatus .success .encodingprogress {
    display: none;
}

/** Hide progressing bar when asset is new */
.encodingstatus .new .encodingprogress {
    display: none;
}

.coral-Table-row .rating-foreground {
    margin-top: -16px;
}
	
.coral-Card-wrapper .coral-Card-propertyList .expirystatus {
    float:right;
}

.stock-asset-card-propertylist {
    line-height: 1rem;
    vertical-align: middle;
}

.foundation-collection-actionbar > coral-actionbar-primary > coral-popover {
    overflow: visible;
}

.granite-collection-selectionbar {
    z-index: 1000;
}
.cq-damadmin-admin-checkout-restricted-hidden {
  display: none !important;
}
