.asset-annotation img {
    display: block;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
} 

.asset-annotation canvas {
    top: 0;
    bottom: 0;
}
#dam_video canvas {
    top: auto;
    bottom: auto;
}

#annotateasset coral-dialog-content textarea{
	width: 100%;
}

.dam-canvas-class {
    position:absolute;
    display:block;
    z-index:100;
    margin:auto;
    left: 0;
    right: 0;
    bottom:0;
    top:0;
}

#jumptotime {
    width: 4rem;
    margin-left: 1rem;
}

.jumpbtn {
    min-width:0.1rem;
}