.cfm-card-omnisearch {
  min-height: 150px;
  background: #fafafa;
  color: #a0a0a0;
  font-weight: 100;
  font-size: 14px;
  line-height: 19px;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}
.cfm-card-omnisearch.is-excerpt-only {
  margin-bottom: 40px;
}
.cfm-card-omnisearch .excerpt {
  padding: 15px;
  box-sizing: border-box;
  letter-spacing: 0.1px;
}
.cfm-card-omnisearch .excerpt:first-letter {
  line-height: 24px;
  margin: 0 5px 0 0;
  padding: 7px 0 3px 0;
  font-size: 40px;
  float: left;
  text-transform: capitalize;
  display: inline-block;
}
.cfm-card-omnisearch img {
  width: auto;
  max-width: 100%;
}
