.dam-zoom-canvas-class {
    position:absolute;
    display:block;
    z-index:auto;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor:move;
}

.dam-zoom-bar {
    padding: 0.3125rem 0;
    height: 3rem;
    background-color:#FAFAFA;
}