/*Currently used for create folder dialog*/ 
#createfolder coral-dialog-content div input, #createfolder coral-dialog-content div div, #createfolder coral-dialog-content coral-checkbox{
	width: 100%;
}

#createfolder coral-dialog-content .text {
	padding:  .9375rem 0 .625rem;
	color: #969696;
}
#deleteAssetDialog {
   z-index: 10;
}

#deleteAssetDialog coral-dialog-content p {
    overflow: auto;
    max-height: 180px;
}

#forceDelDialog {
   z-index: 10;
}

#delErrorDialog {
   z-index: 10;
}

#deleteAssetDialog #forceDeleteCb {
    display: block;
    margin: 0 1rem;
    text-align: left;
}

#downloadasset .coral-Dialog-wrapper {
   width: 22.375rem;
}

#downloadasset .row {
   width: 100%;
}

#downloadasset input[type='checkbox'] {
   margin: 0 0.4rem;
}

#downloadasset .modal-footer {
   padding: 0.5rem;
}

#downloadasset .coral-TagList {
   max-height: 80px;
   overflow-y: auto;
}

#emailSelect {
    width: 100%;
    margin-bottom: .375rem;
}

.checkbox-span {
    margin-right: .5rem;
}
coral-Card-Property.status.approved coral-Icon
{
    color: #B3DA8A;
}

coral-Card-Property.status.rejected coral-Icon, coral-Card-Property.expirystatus coral-Icon
{
    color: #FA7D73;
}

.coral-Card-propertyList > coral-Card-Property.rating
{
    float: right;
}

tr[is="coral-table-row"].is-dragover td{
	background-color: #86BAE9
}


#reprocessAssetDialog {
   z-index: 10;
}

#reprocessAssetDialog coral-dialog-content p {
    overflow: auto;
    max-height: 180px;
}

#reprocessAssetErrorDialog {
   z-index: 10;
}

#reprocessAssetDialog #forceRecursionCb {
    display: block;
    margin: 0 1rem;
    text-align: left;
}
