#adhocassetshare-dialog {
    overflow-y: auto;
}

#adhocassetshare-userpicker {
    width: 100%;
}

.adhocassetshare-job-name {
    width: 66%;
}

#adhocassetsharemessage {
    height: 4rem;
}

#add-new-user {
    margin-top: -0.2rem;
}

table#adhocassetshare-adduser,table#sharelinkrow,table#message {
    width: 100%;
}

table#adhocassetshare-members {
    display: block;
    width: 100%;
    max-height: 10rem;
    overflow-y: auto;
}

#adhocassetshare-members th {
    border-bottom: 1px solid #D2D2D2;
    border-collapse: collapse;
    font-size: 90%;
    text-align: left;
}

#adhocassetshare-members tr td:not(:nth-child(4)) {
    min-width: 6rem;
}

table#adhocassetshare-members tr {
    border-bottom: 1px solid #D2D2D2;
    border-collapse: collapse;
    font-size: 90%;
}

.add-new-user-primary-button {
    padding-left: 0.5rem;
    margin-bottom: 0.2rem;
}

.simple-table .name {
    padding-right: 3rem;
}

.simple-table .name {
    padding-right: 3rem;
}

.simple-table .remove button {
    padding-left: 4rem;
}

#sharelink {
    color: #4b4b4b;
}

.sharelink-notification-alert--absolute {
    position: absolute;
    left: 50%;
    margin-left: -20%;
}


#add-new-user {
    display: none;
}

#linkshare-error-alert, #linkshare-success-alert {
    margin-left: 40%;
}