.aem-assets-properties-selected-assets {
  text-align: center;
}
#change-video-thumb-dialog .thumb-dialog-left-panel {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 160px;
  padding: 5px;
  height: 100%;
}
#change-video-thumb-dialog .thumb-dialog-left-message {
  display: block;
  position: relative;
  vertical-align: top;
  border-top: 1px solid #d2d2d2;
  border-bottom: 1px solid #d2d2d2;
  margin-top: 10px;
  font-family: adobe-clean, Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: .8125rem;
  line-height: 1rem;
}
#change-video-thumb-dialog .thumb-dialog-left-title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  text-align: center;
}
#change-video-thumb-dialog .thumb-dialog-right-panel {
  display: inline-block;
  position: relative;
  vertical-align: top;
  padding-left: 5px;
  border-left: 1px solid #d2d2d2;
}
#change-video-thumb-dialog .upload-thumb-tab,
#change-video-thumb-dialog .select-playframe-tab {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 548px;
  height: 400px;
}
#change-video-thumb-dialog .thumb-dialog-left-panel img {
  border: 4px solid #dddddd;
}
#change-video-thumb-dialog .thumb-dialog-right-panel img.show-grid {
  border: 4px solid #dddddd;
  margin: 10px;
  max-width: 520px;
  max-height: 300px;
}
#change-video-thumb-dialog .thumb-dialog-right-panel #dm-change-thumbnail-video {
  border: 4px solid #dddddd;
  margin: 10px;
  max-width: 520px;
  max-height: 300px;
}
#change-video-thumb-dialog .thumb-dialog-right-panel #dm-change-thumbnail-video img {
  max-width: 520px;
  max-height: 300px;
}
#change-video-thumb-dialog .video-playback-icon {
  font-size: 2rem;
  position: absolute;
  left: 45%;
  opacity: 1.0;
  color: rgba(0, 0, 0, 0.7);
  top: 45%;
  width: auto;
  z-index: 2;
}
#change-video-thumb-dialog coral-panelstack[maximized],
#change-video-thumb-dialog coral-panelstack[maximized] > coral-panel {
  border-top-color: #e9e9e9;
  border-top-style: solid;
  border-top-width: 0.0625rem;
}
#change-video-thumb-dialog .save-thumbnail-wait {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateY(-50%);
}
#change-video-thumb-dialog coral-progress {
  width: 100%;
  height: 2.5rem;
  margin-top: 2%;
}

/*
 * Asset Picker
 */

.asset-picker-modal{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10020;
}

.asset-picker-overlay{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

.asset-picker-content{
    position:absolute;
    background-color: #FFF;
    top: 50px;
    right: 50px;
    left: 50px;
    bottom: 50px;
    z-index: 2;
}
.asset-picker-asset{
    position:absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}
.asset-picker-asset > iframe{
    width: 100%;
    height: 100%;
}
.asset-picker-wait{
    position: absolute;
    top: 50%;
    left: 50%;
}
/* 
 * nav blur to block out top most nav in wizard for popup preview and picker
 */
.navblur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0.7;
    z-index:1000;
}
