/*
 * ADOBE CONFIDENTIAL
 * __________________
 *
 *  Copyright 2016 Adobe Systems Incorporated
 *  All Rights Reserved.
 *
 * NOTICE:  All information contained herein is, and remains
 * the property of Adobe Systems Incorporated and its suppliers,
 * if any.  The intellectual and technical concepts contained
 * herein are proprietary to Adobe Systems Incorporated and its
 * suppliers and are protected by trade secret or copyright law.
 * Dissemination of this information or reproduction of this material
 * is strictly forbidden unless prior written permission is obtained
 * from Adobe Systems Incorporated.
 */

.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column.column-1 {
    width : 55%;
    min-width : 26rem;
}

.aem-assets-metadata-form-tab .aem-assets-metadata-form-column .insight-report-container {
    padding-bottom: 20px;
}

.aem-assets-metadata-form-tab.insight-metadata-tab  .foundation-field-edit {
    display : none !important;
}

.aem-assets-metadata-form-tab.insight-metadata-tab .foundation-field-editable {
    display : inline-block;
    min-width : 100px;
}
.aem-assets-metadata-form-tab.insight-metadata-tab  .foundation-field-readonly  {
    display : block !important;
}

.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column .insight-score-row .foundation-field-editable .coral-Form-field  {
    font-size: 18px;
    font-weight: bold;
}
.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column .insight-usage-row .foundation-field-editable  .coral-Form-field {
    font-size: 15px;
    font-weight: bold;
}

.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column .solution-type {
    margin-left: 1rem;
}

.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table td:nth-child(1) {
    width:45%;
    padding-left: 0px;
}

.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table td:nth-child(2) ,
.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table th:nth-child(2) {
    width:10%;
    text-align: right;
}

.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table td:nth-child(3) ,
.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table th:nth-child(3) {
    width:45%;
    text-align: right;
}
.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table thead[sticky] th:nth-child(2),
.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table thead[sticky] th:nth-child(3) {
    text-align: right;
}

.aem-assets-metadata-form-tab.insight-metadata-tab .aem-assets-metadata-form-column table tbody coral-icon{
    padding-left: 0.625rem;
} 
