.granite-references-innerail-title {
  font-size: 1rem;
  line-height: 3.1875rem;
}
.granite-references-item {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  height: 2.875rem;
  line-height: 2.75rem;
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 1rem;
  text-decoration: none;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}
.granite-references-item:hover {
  background-color: white;
}
.granite-references-title {
  font-weight: 700;
  font-style: normal;
  margin: 0.3125rem 0 0 0;
}
.granite-references-title:last-child {
  font-weight: 400;
  font-style: normal;
  display: inline-block;
  line-height: 2.75rem;
  margin-top: 0;
}
.granite-references-subtitle {
  color: #999999;
}
.granite-references-title,
.granite-references-subtitle {
  display: block;
  line-height: 1rem;
  font-size: 0.8125rem;
}
.granite-references-item--header {
  cursor: default;
  text-transform: uppercase;
  font-weight: 700;
  font-style: normal;
  height: 1.875rem;
  font-size: 0.75rem;
  line-height: 1.875rem;
}
.granite-references-item--header:focus {
  outline: none;
}
.granite-references-item--header,
.granite-references-item--header:hover {
  background-color: #dfdfdf;
}
.endor-Page-sidepanel--innerRail .references .message {
  white-space: normal;
  color: #969696;
  padding: 0.625rem 0.9375rem;
}
.endor-Page-sidepanel--innerRail .references .refSpinner {
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
.endor-Page-sidepanel--innerRail .references .refSpinner > div {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.endor-Page-sidepanel--innerRail .references .badge {
  background: #e1e1e1;
  color: #4b4b4b;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.85rem;
  line-height: 0.75rem;
  min-width: 1.8rem;
  height: 1.65rem;
  margin-top: 0.1875rem;
  padding: 0.38rem 0.4rem 0 0.4rem;
  border-radius: 0.25rem;
  border: 0.0625rem solid #d7d7d7;
  float: right;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  text-align: center;
}
.endor-Page-sidepanel--innerRail .references > ul.reference-list,
.endor-Page-sidepanel--innerRail .references > .detail {
  display: none;
}
.endor-Page-sidepanel--innerRail .references > ul.reference-list,
.endor-Page-sidepanel--innerRail .references > .detail .detail-list {
  overflow-x: hidden;
  overflow-y: auto;
}
.endor-Page-sidepanel--innerRail .references > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.endor-Page-sidepanel--innerRail .references > ul > li {
  margin: 0;
}
.endor-Page-sidepanel--innerRail .references section .coral-Icon {
  float: right;
  font-size: 1.125rem;
  cursor: pointer;
}
.endor-Page-sidepanel--innerRail .references section .coral-Icon.warning {
  position: absolute;
  right: 0.9375rem;
  top: 0.5rem;
}
.endor-Page-sidepanel--innerRail .references section .coral-Icon.warning:before {
  color: #ff9933;
}
.endor-Page-sidepanel--innerRail .references .detail-list section {
  white-space: normal;
  height: auto;
  min-height: 2.875rem;
}
.endor-Page-sidepanel--innerRail .references .detail-list section.active {
  background: none repeat scroll 0 0 #f0f0f0;
}
.endor-Page-sidepanel--innerRail .references .detail-list section.active .actions {
  border-top: none;
}
.endor-Page-sidepanel--innerRail .references .detail-list section.active .actions > a.button {
  width: 100%;
  text-transform: none;
}
.endor-Page-sidepanel--innerRail .references .granite-references-detail-item--hasCheckbox {
  padding-left: 2.6875rem;
}
.endor-Page-sidepanel--innerRail .references .granite-references-detail-item--hasCheckbox .coral-Checkbox {
  position: absolute;
  top: 0.5rem;
  left: 0.9375rem;
  line-height: 1rem;
}
.endor-Page-sidepanel--innerRail .references .detail-header.granite-references-detail-item--hasCheckbox .coral-Checkbox {
  top: 0.3125rem;
  padding-top: 0;
  padding-bottom: 0;
}
.endor-Page-sidepanel--innerRail .references .detail-references.hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0 -1px -1px 0;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars.hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0 -1px -1px 0;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar.hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: 0 -1px -1px 0;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible {
  min-height: 2.875rem;
  border-top: 0.0625rem solid rgba(0, 0, 0, 0.05);
  background-color: #dfdfdf;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .coral-Collapsible-header {
  background: none;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .coral-Collapsible-header > .coral-Icon {
  float: right;
  font-size: 0.75rem;
  margin-right: 0;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .coral-Collapsible-title {
  font-size: 1rem;
  color: #666666;
  font-weight: normal;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .coral-Collapsible-header:focus .coral-Collapsible-title {
  text-decoration: none;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .row {
  height: 1.65rem;
  padding-top: 0.0625rem;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .row .badge {
  margin-top: -0.125rem;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .row .col1 {
  padding-top: 0.2rem;
}
.endor-Page-sidepanel--innerRail .references .detail-toolbars .detail-toolbar .coral-Collapsible .coral-Button--block {
  margin-top: 0.625rem;
}
.endor-Page-sidepanel--innerRail .references .actions {
  display: none;
  padding: 0.5rem 0;
}
.endor-Page-sidepanel--innerRail .references .actions div {
  margin-bottom: 0.5rem;
}
.endor-Page-sidepanel--innerRail .references .actions .coral-Button--block + .coral-Button--block {
  margin-top: 0.625rem;
}
