/************************
 *  ASSET PICKER STYLES *
 ************************/


.dam-asset-picker-modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
}

.dam-asset-picker-asset {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
}

.dam-asset-picker-wait {
    position: absolute;
    top: 50%;
    left: 50%;
}

.dam-asset-picker-content {
    position: absolute;
    background-color: #FFF;
    top: 50px;
    right: 50px;
    left: 50px;
    bottom: 50px;
    z-index: 2;
}

.dam-asset-picker-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    z-index: 1;
}

#damAssetPickerFrame {
    border: none;
    width: 100%;
    height: 100%;
}