.cq-msm-properties-status-key {
    width: 198px;
    float: left;
    padding: 10px 8px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.cq-msm-properties-status-value {
    padding-top: 10px;
}
.cq-msm-properties-status-firstrow {
    padding-top: 0;
}
.cq-msm-properties-status-clear {
    clear: left;
}
